<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<head>
<meta charset="utf-8">
<link rel="dns-prefetch" href="https://ajax.googleapis.com/">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>(adsbygoogle=window.adsbygoogle||[]).push({google_ad_client: "ca-pub-6749834995443806",enable_page_level_ads:true});</script>
<title>CheckNums: Check Your Powerball Tickets</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="twitter:card" content="summary">
<meta property="twitter:site" content="@checknums">
<meta property="og:url" content="https://checknums.com">
<meta property="og:description" content="Check your Powerball tickets quickly">
<meta property="og:title" content="Check Your Powerball Tickets Quickly">
<meta property="og:type" content="website">
<meta property="og:image" content="checknums-260x260.png">
<style>
html, body {
  height: 100%;
  position: relative;
}
.loading {
  background-color: #fff;
  display: none;
  left: 50%;
  padding: 1em;
  position: fixed;
  top: 25%;
  transform: translate(-50%, -50%);
  width: 70vw;
}
[ng-cloak] ~ .loading {
  display: block;
}
.dot {
  -webkit-animation: loadingFade 3s infinite;
  animation: loadingFade 3s infinite;
  background: #fff;
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.17);
  float: left;
  font-family: monospace;
  font-size: 5vw;
  height: 8vw;
  line-height: 8vw;
  margin: 0 1vw;
  text-align: center;
  text-shadow: 0 1px 3px rgba(255, 255, 255, 0.2), -1px -1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 8vw;
}
.dot:nth-child(1) {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.dot:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.dot:nth-child(3) {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.dot:nth-child(5) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.dot:nth-child(6) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.dot:nth-child(7) {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}
@-webkit-keyframes loadingFade {
    0% { background-color: transparent; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0); }
   50% { box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.17); }
   76% { background-color: rgba(183, 28, 28, 0.46); }
   80% { background-color: transparent; }
  100% { box-shadow: inset 0 0 10px rgba(0, 0, 0, 0); }
}
@keyframes loadingFade {
    0% { background-color: transparent; box-shadow: inset 0 0 10px rgba(0, 0, 0, 0); }
   50% { box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.17); }
   76% { background-color: rgba(183, 28, 28, 0.46); }
   80% { background-color: transparent; }
  100% { box-shadow: inset 0 0 10px rgba(0, 0, 0, 0); }
}
</style>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Roboto:400,500">
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">
<link rel="stylesheet" href="style.css">
<script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');ga('create','UA-92226497-1','auto');ga('send','pageview');</script>
</head>
<body>
<div ng-controller="AppCtrl as ctrl" layout="column" flex layout-fill ng-cloak ng-app="NumbersCheckerApp">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h1 class="md-display-1">CheckNums</h1>
    </div>
  </md-toolbar>
  <md-content flex role="main" md-theme="altTheme">
    <div layout layout-margin layout-padding>Check your Powerball tickets quickly and easily.</div>
    <div layout>
      <h2 class="heading md-title">Powerball Results</h2>
    </div>
    <div layout layout-padding layout-align="start center" class="draw-selection">
      <h3 class="md-subhead">Drawing</h3>
      <md-input-container flex="none">
        <md-select ng-model="ctrl.selectedDrawingDate" placeholder="Drawing"
                   md-on-close="ctrl.drawingSelection()">
          <md-option value="custom">Custom…</md-option>
          <md-option ng-if="ctrl.drawings.length" ng-value="draw.date" ng-repeat="draw in ctrl.drawings">{{::draw.date}}</md-option>
        </md-select>
      </md-input-container>
      <md-button ng-click="ctrl.getDrawings()" aria-label="Check for Latest Drawings" class="md-icon-button" ng-disabled="ctrl.gettingDrawings" ng-hide="ctrl.selectedDrawingDate === 'custom'">
        <md-tooltip md-direction="top">Check for new results</md-tooltip>
        <svg ng-hide="ctrl.gettingDrawings" fill="#9e9e9e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
        <md-progress-circular md-mode="indeterminate" ng-if="ctrl.gettingDrawings" md-diameter="20"></md-progress-circular>
      </md-button>
      <md-button class="md-icon-button" ng-click="ctrl.setCustomResults()" ng-if="ctrl.selectedDrawingDate && ctrl.selectedDrawingDate === 'custom'" id="btn-edit-results" aria-label="Edit">
        <md-tooltip md-direction="right">Edit Results</md-tooltip>
        <svg fill="#9e9e9e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
          <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
          <path d="M0 0h24v24H0z" fill="none"/>
        </svg>
      </md-button>
    </div>
    <div layout flex layout-align="space-around center" class="draw-results" ng-if="ctrl.selectedDrawingDate && ctrl.draw.white.length">
      <span class="ball md-whiteframe-1dp">{{ctrl.draw.white[0]}}</span>
      <span class="ball md-whiteframe-1dp">{{ctrl.draw.white[1]}}</span>
      <span class="ball md-whiteframe-1dp">{{ctrl.draw.white[2]}}</span>
      <span class="ball md-whiteframe-1dp">{{ctrl.draw.white[3]}}</span>
      <span class="ball md-whiteframe-1dp">{{ctrl.draw.white[4]}}</span>
      <span class="ball md-whiteframe-1dp red">{{ctrl.draw.red}}</span>
      <span class="multiplier md-whiteframe-1dp">{{ctrl.draw.multiplier}}x</span>
    </div>
    <section>
      <md-subheader>
       <h2 class="md-title md-primary">Your Tickets</h2>
      </md-subheader>
      <div ng-if="!ctrl.cards.length">Add your tickets and see if you won!</div>
      <md-card ng-repeat="card in ctrl.cards" ng-class="{'success': card.score > 0, 'jackpot': card.jackpot, 'card-complete': ctrl.cardComplete(card), 'deleting-ticket': card.deleting}" ng-hide="card.isEdit" class="ticket">
        <div class="md-title score" layout="row" layout-align="end end">
          <span ng-show="!card.jackpot && (card.score || card.score === 0)" ng-class="{'success': card.score > 0}">{{card.score | currency:"$":0}}</span>
          <span ng-show="card.jackpot">Jackpot</span>
        </div>
        <md-card-content>
          <div class="nums-wrap" layout layout-align="space-between center">
            <div class="ball md-whiteframe-1dp"><div ng-class="{'match': card.matchedWhite.indexOf(card.white[0]) > -1}">{{card.white[0]}}</div></div>
            <div class="ball md-whiteframe-1dp"><div ng-class="{'match': card.matchedWhite.indexOf(card.white[1]) > -1}">{{card.white[1]}}</div></div>
            <div class="ball md-whiteframe-1dp"><div ng-class="{'match': card.matchedWhite.indexOf(card.white[2]) > -1}">{{card.white[2]}}</div></div>
            <div class="ball md-whiteframe-1dp"><div ng-class="{'match': card.matchedWhite.indexOf(card.white[3]) > -1}">{{card.white[3]}}</div></div>
            <div class="ball md-whiteframe-1dp"><div ng-class="{'match': card.matchedWhite.indexOf(card.white[4]) > -1}">{{card.white[4]}}</div></div>
            <div class="ball md-whiteframe-1dp red"><div ng-class="{'match': card.matchedRed}">{{card.red}}</div></div>
          </div>
          <div layout flex="none" ng-show="card.multiplier"><span class="pp"><span>Power</span>Play</span></div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" ng-click="ctrl.editCard($event, $index)" aria-label="Edit">
            <md-tooltip md-direction="top">Edit Ticket</md-tooltip>
            <svg fill="#9e9e9e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </md-button>
          <md-button class="md-icon-button" ng-click="ctrl.deleteCard($event, $index)" aria-label="Delete">
            <md-tooltip md-direction="top">Delete Ticket</md-tooltip>
            <svg fill="#9e9e9e" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0V0z" fill="none"/>
              <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zm2.46-7.12l1.41-1.41L12 12.59l2.12-2.12 1.41 1.41L13.41 14l2.12 2.12-1.41 1.41L12 15.41l-2.12 2.12-1.41-1.41L10.59 14l-2.13-2.12zM15.5 4l-1-1h-5l-1 1H5v2h14V4z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
            </svg>
          </md-button>
        </md-card-actions>
      </md-card>
    </section>
    <footer class="footer-interior">
      <div layout="row" layout-align="center center" class="btn-add">
        <md-button class="md-primary md-raised" layout-padding-gt-sm ng-click="ctrl.addCard()">
          Add Your Ticket
          <md-icon>
            <svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 14h-3v3h-2v-3H8v-2h3v-3h2v3h3v2zm-3-7V3.5L18.5 9H13z"/>
            </svg>
          </md-icon>
        </md-button>
      </div>
      <div layout="row" layout-align="center center" ng-show="ctrl.cards.length && ctrl.cardComplete(ctrl.cards[0])">
        <md-button md-no-ink class="md-accent" ng-click="ctrl.deleteAllTickets()">Delete All Tickets</md-button>
      </div>
      <div layout="row" layout-align="center center" style="color: #9e9e9e">
        <md-button md-no-ink class="md-primary" ng-click="ctrl.showDisclaimerDialog($event)">Disclaimer</md-button>●
        <md-button md-no-ink class="md-primary" ng-click="ctrl.showInstructionsDialog($event)">Instructions</md-button>
      </div>
    </footer>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="disclaimerDialog">
        <md-dialog layout-padding>
          <h2 class="md-title">Disclaimer</h2>
          <div style="margin: 0">
            <p>CheckNums is an <strong>unofficial</strong> tool to check one or more Powerball tickets for a given drawing.</p>
            <p>It is <strong>not affiliated</strong> with the Multi-State Lottery Association or any other organization.</p>
            <p>Be sure to <strong>double-check all tickets</strong> using official tools. Visit <a href="http://www.powerball.com/" rel="noopener" target="_blank">powerball.com</a>.</p>
          </div>
          <div layout layout-align="end end">
            <span flex></span>
            <md-button ng-click="ctrl.closeDialog()" class="md-raised md-primary" aria-label="OK">OK</md-button>
          </div>
        </md-dialog>
      </div>
    </div>
    <div style="visibility: hidden">
      <div class="md-dialog-container" id="instructionsDialog">
        <md-dialog layout-padding>
          <h2 class="md-title">Instructions</h2>
          <div style="margin: 0">
            <p style="margin-top: 0">Quickly check Powerball tickets for a single drawing. Click "Add Ticket" and:</p>
            <ol>
              <li>Select 5 white balls and 1 red Powerball</li>
              <li>Click "Check Ticket" to add your ticket and check it against the selected drawing at the top of the screen.</li>
              <li>Look at the top right corner of each ticket to see if you've won.</li>
            </ol>
            <p>Selecting a drawing at the top of the screen checks all tickets, which are saved on your device until deleted.</p>
            <p><strong>This site is meant to be helpful, but is UNOFFICIAL.</strong> Visit <a href="http://www.powerball.com/" rel="noopener" target="_blank">powerball.com</a> 
              to view complete rules and official results.</p>
          </div>
          <div layout layout-align="end end">
            <span flex></span>
            <md-button ng-click="ctrl.closeDialog()" class="md-raised md-primary" aria-label="OK">OK</md-button>
          </div>
        </md-dialog>
      </div>
    </div>
  </md-content>
  <!--<footer class="footer-exterior" flex="none" layout layout-align="center center">
    <div class="ad-wrapper"></div>
  </footer>-->
</div>
<div class="loading">
  <span class="dot">L</span>
  <span class="dot">o</span>
  <span class="dot">a</span>
  <span class="dot">d</span>
  <span class="dot">i</span>
  <span class="dot">n</span>
  <span class="dot">g</span>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>
<script src="main.js"></script>
</body>
</html>