.md-toolbar-tools h1,
h2 {
  font-family: 'Baloo Bhaina', -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.md-toolbar-tools h1 {
  font-size: 36px;
  line-height: 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.38);
  transform: translateY(6px);
}

.heading .md-subheader-inner {
  padding-left: 0;
}

.heading,
.md-subheader + div {
  margin-left: 16px;
}

h2.md-title {
  color: rgba(0, 0, 0, 0.87);
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.draw-selection {
  padding-top: 0;
}

.draw-selection h3,
.draw-selection md-input-container {
  margin-top: 0;
  margin-bottom: 0;
}

.ball {
  background-color: #fff;
  border-radius: 20px;
  height: 40px;
  padding: 10px;
  width: 40px;
}
.red {
  background-color: #d50000;
  color: #fff;
}
.match {
  position: relative;
}
.match:after {
  border-bottom: 1px solid;
  bottom: -2px;
  content: "";
  left: 0;
  position: absolute;
  width: 100%;
}
.multiplier {
  padding: 2px 4px;
}

.draw-results {
  margin: 0 8px 1em;
  max-width: 425px;
}

.custom-results {
  margin-top: -2em;
}

/* -------- */
.num-set {
  width: 165px;
}

.num-set-container md-option[disabled] .md-icon {
  border-color: rgba(189, 189, 189, 0.87);
}

.num-set-header {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  display: flex;
  height: 48px;
  padding-left: 10.667px;
  top: 0;
  width: 94%;
  z-index: 1;
}

.num-set-header.has-five {
  color: #1B5E20; /* green 900 */
}

.pp-select {
  width: 80px;
}

/* -------- */
.ticket {
  background-image: linear-gradient(45deg, #fdfbfb 0%, #ebedee 100%);
  height: 0;
  margin: 0 8px;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.ticket.card-complete {
  height: auto;
  opacity: 1;
}

.ticket + .ticket.card-complete {
  margin-top: 1em;
}

.nums-wrap {
  max-width: 336px;
}

.b {
  margin-right: 4px;
  min-width: 30px;
}
.b + .b {
  text-align: center;
}

.b div {
  border-bottom: 2px solid transparent;
}

.b .match {
  border-bottom-color: #2E7D32;
}

.ticket md-card-content {
  margin-top: 8px;
  padding: 0 8px;
}

.ticket.deleting-ticket {
  -webkit-animation: slit-out-horizontal 0.5s ease-in both;
  animation: slit-out-horizontal 0.5s ease-in both;
}

.deleting-ticket > * {
  height: 0;
  opacity: 0;
  transition: all 0.2s;
}

@-webkit-keyframes slit-out-horizontal {
    0% { opacity: 1; transform: translateZ(0) rotateX(0); }
   54% { opacity: 1; transform: translateZ(-160px) rotateX(87deg); }
  100% { opacity: 0; transform: translateZ(-800px) rotateX(90deg); }
}

@keyframes slit-out-horizontal {
    0% { opacity: 1; transform: translateZ(0) rotateX(0); }
   54% { height: 76px; opacity: 1; transform: translateZ(-160px) rotateX(87deg); }
  100% { height: 0; opacity: 0; transform: translateZ(-800px) rotateX(90deg); }
}

md-select ~ .errors {
  color: rgb(221,44,0);
  font-size: 12px;
  line-height: 14px;
  opacity: 0;
  overflow: hidden;
  padding-top: 5px;
  -webkit-transition: all .3s cubic-bezier(.55,0,.55,.2);
  transition: all .3s cubic-bezier(.55,0,.55,.2);
}

md-select.ng-invalid.ng-touched ~ .errors,
md-select.ng-invalid-required.ng-touched ~ .errors {
  opacity: 1;
}

.pp {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.54);
  font-family: Roboto, sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  margin-top: 1em;
  text-transform: uppercase;
}

.pp span {
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
  margin-right: 2px;
  padding-left: 2px;
  padding-right: 1px;
}

.pp,
.pp span {
  -webkit-transition: color, background-color .3s cubic-bezier(.55,0,.55,.2);
  transition: color, background-color .3s cubic-bezier(.55,0,.55,.2);
}

.use-multiplier {
  margin-top: 0;
}

.use-multiplier[aria-checked="true"] .pp {
  color: #000;
}

.use-multiplier[aria-checked="true"] .pp span {
  background-color: #000;
}

md-switch .pp span {
  margin-right: -1px;
}

.ticket .md-actions {
  margin-top: 0;
}

.saved,
.btn-cancel {
  color: rgba(0, 0, 0, 0.38);
}

.score {
  color: #b71c1c;
  min-height: 40px;
  text-align: right;
}
.score span {
  border-radius: 0 0 0 2px;
  padding: 8px;
}
.score .success {
  background-color: #2e7d32;
  color: #fff;
}
.ticket.success {
  border: 1px solid #2e7d32;
}

.ticket.jackpot {
  background-image: linear-gradient(to top, #0fd850 0%, #f9f047 100%);
  margin-bottom: 1em;
  position: relative;
}

.ticket.jackpot .score {
  height: 108px;
  overflow: hidden;
  position: absolute;
  right: -6px;
  top: -6px;
  width: 108px;
}

.ticket.jackpot .score span {
  background-color: #1B5E20;
  background-image: linear-gradient(#2E7D32 -50%, #43a047 50%, #43a047 0%, #2E7D32 150%);
  box-shadow: -3px 5px 6px -5px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  left: 32px;
  letter-spacing: 0.5px;
  line-height: 18px;
  min-height: 18px;
  padding: 7px 0;
  position: relative;
  text-align: center;
  text-indent: -8px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  top: -65px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 150px;
}

.ticket.jackpot .score span:before,
.ticket.jackpot .score span:after {
  border: 4px solid transparent;
  border-top-color: #2E7D32;
  bottom: -8px;
  content: "";
  position: absolute;
  z-index: -1;
}

.ticket.jackpot .score span:before {
  left: 0;
  border-left-color: #2E7D32;
}

.ticket.jackpot .score span:after {
  right: 7px;
  border-right-color: #2E7D32;
}

.ticket.jackpot md-card-content {
  padding-top: 30px;
}

.btn-save {
  margin-left: 0 !important;
}

.md-icon-button.btn-save svg {
  fill: rgba(0, 0, 0, 0.38);
}

.md-icon-button.btn-save svg:hover {
  fill: rgba(0, 0, 0, 0.54);
}

.md-icon-button svg.saved,
.md-icon-button svg.saved:hover {
  fill: #00aeef;
}

.footer-interior {
  margin: 16px 0 32px;
}

.md-button.md-altTheme-theme.md-primary.md-raised {
  color: #fff;
}

.btn-add .md-button {
  border-radius: 6px;
  box-shadow: inset 0 1px #3949AB, 0 5px #1A237E, 0 3px 5px rgba(0, 0, 0, 0.38) !important;
  font-size: 20px;
  padding-left: 10px;
  width: 16em;
}

.btn-add .md-button:hover,
.btn-add .md-button:focus {
  background-color: #0D47A1;
  text-shadow: -1px 1px #1A237E;
}

.btn-add .md-button:active {
  box-shadow: none !important;
  position: relative;
  top: 5px;
}

.btn-add md-icon {
  padding: 0;
  transform: translateY(-2px);
}

.footer-exterior {
  padding: 0 16px;
  text-align: center;
}

.ad-wrapper {
  background-color: #aaa;
  height: 50px;
  position: relative;
  width: 320px;
}

.ad-wrapper:before {
  bottom: 0;
  color: rgba(0, 0, 0, 0.17);
  content: "AD";
  height: 48px;
  left: -14px;
  line-height: 14px;
  position: absolute;
  width: 4px;
  word-wrap: break-word;
}

@media (min-width: 960px) {
  md-toast.md-top {
      top: 64px;
  }
}

@media (min-width: 1024px) {
  body, html {
    background-color: #CFD8DC;
  }
  
  div[ng-app] {
    margin: 0 auto;
    width: 1024px;
  }
  
  body:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 132px;
    background-color: #607d8b;
    width: 100vw;
  }
  
  md-toolbar {
    height: 90px;
  }
  
  .md-toolbar-tools h1 {
    font-size: 48px;
    padding-top: 48px;
  }
  
  .md-dialog-container {
    max-width: 800px;
  }
}